/*.logo{
	padding: 10px 0 10px 2em;
}
#hNav a{
	display: block;
	width: 100%;
	text-align: center;
}*/
html{
	font-size: 100%;
}
.navbar{
	margin-bottom: 0;
}
.section{
	position: relative;
	min-height: 60em;
	padding-top: 7em;
	color: white;
}

.hList{
	width: 25%;
	position: absolute;
	left: 50%;
	top: 25%;
}
.top{
	font-size: 3em;
	border-bottom: solid #fff 2px;
}
.bot{
	font-size: 1.5em;
}
@media only screen and (max-width:480px ) {
	.top{
	font-size: 2em;
	border-bottom: solid #fff 2px;
	}
	.bot{
		font-size: 1em;
	}
}
#homePage{
	background: url(../img/sea.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#about{
	background: url(../img/szwan.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#products{
	background: url(../img/light.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#contactMe{
	background:url(../img/could.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
/*以下是about样式*/
#about .col-md-6:first-child{
	position: relative;	
}
.aboutMe{
	width: 80%;
	margin: auto;
	padding: 1em;
	background: rgba(40,120,140,0.8);
	border-radius: 0.5em;
}
.aboutMe ul,.aboutMe img{
	width: 75%;
	display: block;
	margin: 0 auto;
}
table{
	width: 100%;
}
.skills{
	margin: 1em;
	padding: 1em;
	background: rgba(40,120,140,0.8);
	border-radius: 0.5em;
}
.more{
	position: absolute;
	top: 4em;
	right: 2em;
}
.progress{
	margin:8px 0 10px;
}
figure{
	margin-bottom: 1em;
}
figure:hover{
	background: rgba(0,0,0,0.2);
}
#contactMe>div{
	padding: 1em;
}
.weChat img{
	display: block;
}
.tips{
	position: absolute;
	top: 1em;
	left: 25%;
}
.weChat img,.weChat ul{
	display: block;
	width: 60%;
	margin: 0 auto 1em;
}
.weChat li a{
	color: white;
}
/*百度地图*/
.iw_poi_title {
	color:#CC5522;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap;
}
.iw_poi_content {
	font:12px arial,sans-serif;
	overflow:visible;
	padding-top:4px;
	white-space:-moz-pre-wrap;
	word-wrap:break-word;
}
label{
	min-width: 5em;
}
#dituContent{
	margin: 0 auto;
}	