*{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
html{
	font-size: 100%;
	background: black;
}
a{
	display: block;
	text-decoration: none;
}
.clearfix::after{
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;	
}
.header{
	position: fixed;
	width: 100%;
	height: 50px;
	margin-top: 1em;
	z-index: 2;
}
.header a{
	color: white;
	font-size: 1.3em;
}

.logo{
	float: left;
	margin-left: 4em;
}
#hNav{
	position: absolute;
	overflow: ;
	right: 0;
	width: 30%;
}
#hNav ul{
	position: absolute;
	right: 20%;
	width: 100%;
}
#hNav ul li{
	float: left;
	width: 25%;
}

#hNav ul li a{
	text-align: center;
	box-sizing: border-box;
}
#hNav ul li a:hover{
	border-bottom: 2px #fff solid;
	border-top: 2px #fff solid;
}
/*以下是分页面通用样式*/
.section{
	padding: 5% 10% 0;
}
#homePage{
	background: url(../img/IMGP7003.JPG) no-repeat;
	background-size: 100%;
}
#about{
	background: url(../img/IMGP3507.JPG) no-repeat;
	background-size: 100%;
}
#products{
	background: url(../img/IMGP1675.JPG) no-repeat;
	background-size: 100%;
}
#contactMe{
	background:url(../img/IMGP7726.JPG) no-repeat;
	background-size: 100%;
}
.tit{/*此处样式可以酌情删除*/
	position: absolute;
	right: 5%;
	top: 10%;
	width: 15%;
	font-size: 0.7em;
}
#fp-nav span{
	background: #fff;
	opacity: 0.3;
}
#fp-nav ul li .active span{
	background: #fff;
	opacity: 1;
}
/*以下是homePage页面样式*/
.hList{
	position: absolute;
	left: 20%;
	top: 30%;
}
.hList .top{
	font-size: 2em;
}
.hList .bot{
	font-size: 1.5em;
}
/*以下是about样式*/
.aboutMe{
	float: left;
	width: 30%;
	padding: 1em;
	background: rgba(40,120,140,0.9);
	border-radius: 0.5em;
}
.aboutMe img{
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}
.aboutMe h2{
	text-align: center;
}
.aboutMe h3{
	width: 70%;
	margin: 0 auto;
}
.skills{
	float: right;
	width: 50%;
	padding: 3%;
	background: rgba(40,120,140,0.9);
	border-radius: 0.5em;
}
.skills table{
	width: 100%;
	padding: 1em;
	background: rgba(200,200,200,0.2);
	border-radius: 0.5em;
}
.skills table tr{
	line-height: 4em;
}
.skills table tr td h4{
	width: 6em;
}
.line{
	width: 80%;
}
.skills table tr td span{
	display: inline-block;
}
.line span{
	height:1em;
	float: left;
}
.loneLine1{
	background: #255625;
	width: 90%;
}
.shortLine1{
	background: #fff;
	width: 10%;
}
.loneLine2{
	background: #255625;
	width: 90%;
}
.shortLine2{
	background: #fff;
	width: 10%;
}
.loneLine3{
	background: #255625;
	width: 70%;
}
.shortLine3{
	background: #fff;
	width: 30%;
}
.loneLine4{
	background: #255625;
	width: 70%;
}
.shortLine4{
	background: #fff;
	width: 30%;
}
.loneLine5{
	background: #255625;
	width: 60%;
}
.shortLine5{
	background: #fff;
	width: 40%;
}
.loneLine1,.loneLine2,.loneLine3,.loneLine4,.loneLine5{
	border-radius: 0.5em 0 0 0.5em;
}
.shortLine1,.shortLine2,.shortLine3,.shortLine4,.shortLine5{
	border-radius: 0 0.5em 0.5em 0;
}
.sc{
	width: 10%;
	text-align: center;
}
/*以下是第三页*/
.pImg{
	overflow: hidden;
	width: 100%;
	height: 36.67em;
}
.pImg figure{
	position: relative;
	float: left;
	width: 23em;
	height: 16.33em;
	margin: 0.5em;
	padding: 0.5em;
	background: rgba(255,255,255,0.3);
	border-radius: 0.2em;
}
.pImg figure:hover{
	background: rgba(255,255,255,0.6)
}
.pImg figure img{
	width: 22em
	height: 13.72em;
}
.pImg figure figcaption{
	position: absolute;
	left: 0.5em;
	bottom: 0.5em;
}
